.about {
  position: absolute;
  /* margin-left: 20px; */
  top: 30px;
  right: 190px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.about:hover {
  cursor: pointer;
}

.home {
  text-decoration: none;
  font-weight: 600;
  color: rgb(255, 255, 255);
  position: absolute;
  right: 250px;
  top: 30px;
}
.home:hover {
  cursor: pointer;
}

.contact-us {
  text-decoration: none;
  font-weight: 600;
  color: rgb(255, 255, 255);
  position: absolute;
  right: 95px;
  top: 30px;
}
.contact-us:hover {
  cursor: pointer;
}
.cart {
  text-decoration: none;
  font-weight: 600;
  color: rgb(255, 255, 255);
  position: absolute;
  right: 50px;
  top: 30px;
}
.cart:hover {
  cursor: pointer;
}
